<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
        content="ie=edge">
  <title>Lock Screen</title>
  <link rel="stylesheet"
        type="text/css"
        href="/bundle.css">
  <script src="/bundle.js"></script>
</head>
<body>
<main ondragstart="return false;">
  <div>
    <div class="text">ENTER PASSWORD</div>
    <div class="lock"
         ondragstart="return false;">
      <div data-value=0 class="lock__cell"
           ondragstart="return false;"></div>
      <div data-value=1 class="lock__cell"
           ondragstart="return false;"></div>
      <div data-value=2 class="lock__cell"
           ondragstart="return false;"></div>
      <div data-value=3 class="lock__cell"
           ondragstart="return false;"></div>
      <div data-value=4 class="lock__cell"
           ondragstart="return false;"></div>
      <div data-value=5 class="lock__cell"
           ondragstart="return false;"></div>
      <div data-value=6 class="lock__cell"
           ondragstart="return false;"></div>
      <div data-value=7 class="lock__cell"
           ondragstart="return false;"></div>
      <div data-value=8 class="lock__cell"
           ondragstart="return false;"></div>
    </div>
  </div>
</main>
</body>
</html>
