main {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Constantia, sans-serif;
  padding-top: 50px;
  width: 100%;
}

h1 {
  margin-bottom: 40px;
  font-family: fantasy;
  font-size: 60px;
}

.letters-field-wrapper {
  align-items: center;
  display: flex;
  height: 430px;
  justify-content: center;
  margin-top: 40px;
  padding: 15px 15px 0 15px;
  width: 180px;
}

.letters-field {
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
  height: 100%;
  padding: 0 15px;
  position: relative;
  width: 100%;
}

.letters-field__row {
  position: absolute;
}

.current-letter {
  font-size: 30px;
  color: #ffd536;
  transition: color 0.12s ease-in, font-size 0.12s ease-in;
}

button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  height: 35px;
  margin-top: 40px;
  outline: none;
  transition: all 0.2s ease-in;
  width: 180px;
}

button:hover {
  cursor: pointer;
  border: 1px solid white;
}
