<main>
  <h1>Alphabet Invasion</h1>
  <h2>Level: <span id="level">1</span></h2>
  <h2>Score: <span id="score">0</span></h2>
  <div class="letters-field-wrapper">
    <div #lettersField
         class="letters-field">
<!--      <span></span>-->
      <div [@letterEnterLeaveTrigger]="getLetterEnterTriggerParams(letter)"
           *ngFor="let letter of letters; trackBy: lettersTrackBy"
           [style.transform]="getLetterTransformStyle(letter.xCoordinate)"
           class="letters-field__row"
      >
        {{letter.value}}
      </div>
    </div>
  </div>
</main>
