.letters-field-wrapper {
    border: 1px solid orangered;
    font-size: 20px;
    height: 400px;
    padding: 10px;
    width: 300px;
}


.letters-field {
    height: 100%;
    position: relative;
    width: 100%;
}

.letters-field__row {
    position: absolute;
    transition-duration: 1000ms;
    transition-timing-function: linear;
}
